form{
    font-family:cursive;
    border: 2px solid blue;
    width: 900px;
    height:500px;
    width: 900px;
    height:500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 23px 33px 23 10px magenta;
}
body{
    margin-left: 100px;
    margin-top: 100px;
    background-image: url("/CSS/images/swan-4170400__340.jpg");
    background-size: cover;
    color: black;
}
input[type="text"],input[type="password"]{
    width: 250px;
    height:30px;
    border: 1px solid black;
    border-radius: 50px;
}
button{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: orangered;
    border: 1px solid blue;
}
input[type="text"]:focus,input[type="password"]:focus{
    outline: none;
    background-color: wheat;
}
button:hover{
    background-color: yellow;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px lightgreen;
}

